* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #E6EEDE;               /* Light Blue */
  background-color: #5F88B3;    /* Light Blue */
  font-size: 18px;
  background-image: url("links-and-images/2.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
}
h1, h2, h3, h4, h5, h6, p, li{
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: lower-roman;
}
a {
  color: #AEDAEE;
}

#menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5F88B3;
  text-align: center;

  position: fixed;
  top: 0;
  width: 100%;
}
#menu a {
  display: block;
  color: #DADBDC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#menu li {
  display: inline;
  float: left;
}
#menu li:last-child {
  border-right: none;
}
#menu li a:hover {
  color: #224024; /* Change the link color to green on hover */
}
.active {
  background-color: #728479;
}

h1:first-of-type { /* This is to move the 'Seattle' heading below the navegation bar' */
  height: 75px;
  width: 100%;
  line-height: 2;
}

.synopsis {
  width: max-content;
  padding: 50px;
  margin: 25px;
  margin-left: auto;
  background-color: #728479;
  text-indent: 10px;
  line-height: 1.8;
}
.whatwedid {
  line-height: 1.4;
}
#eat {
  margin-bottom: 1.5em;
}
/*Flexbox and grid*/
