* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #E6EEDE;               /* Light Blue */
  background-color: #5F88B3;    /* Light Blue */
  font-size: 18px;
  background-image: url("links-and-images/2.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
}
h1, h2, h3, h4, h5, h6, p, li{
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: lower-roman;
}
a {
  color: #AEDAEE;
}
.navbar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navbar {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5F88B3;
  text-align: center;
  top: 0;
  width: 100%;
}
.menu a {
  display: block;
  color: #DADBDC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu li:last-child {
  border-right: none;
}
.menu li a:hover {
  color: #224024; /* Change the link color to green on hover */
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.active {
  background-color: #728479;
}

h1:first-of-type { /* This is to move the 'Seattle' heading below the navegation bar' */
  height: 75px;
  width: 100%;
  line-height: 2;
}

.synopsis {
  width: max-content;
  padding: 50px;
  margin: 0px;
  margin-left: auto;
  background-color: #728479;
  text-indent: 10px;
  line-height: 1.8;
}
.whatwedid {
  line-height: 1.4;
}
#eat {
  margin-bottom: 1.5em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center; /*Up and down*/
  /*justify-content: ; side to side*/
}
.flex-item {
  width: 300px;
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  align-items: center;
}
.flex-item h1 {
  color: black;
  text-align: center;
  line-height: 150px;
}

/* Mobile Styles */
@media only screen and (max-width: 800px) {
  .synopsis-container {
    display: flex;
    padding: 0;
  }
  .synopsis {
    align-items: center;


  }
  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .flex-item {
    flex-direction: column;
  }
  .navbar-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}
